<div class="app-chart-data__tabled"> 
    <!-- <div *ngFor="let aRate of inData" class="app-chart-data__row chart-row"> 
        <div class="chart-row__date"> {{ acStringifyDate( aRate.crDate ) }} </div>
        <div class="chart-row__rate"> {{ aRate.crRate | number:'1.5-5' }} </div>
    </div> -->
    <table *ngIf="inData.length" class="app-chart-data__table data-table" mat-table matsort>
        <thead class="data-table__header">
            <tr> 
                <th class="data-table__header-cell data-table__header-cell--date"> Date </th>
                <th class="data-table__header-cell data-table__header-cell--rate"> Ex.Rate </th>
            </tr>
        </thead>
        <tbody class="data-table__body">
            <tr *ngFor="let aRate of inData">
                <td class="data-table__body-cell data-table__body-cell--date"> {{ acStringifyDate( aRate.crDate ) }} </td>
                <td class="data-table__body-cell data-table__body-cell--rate"> {{ aRate.crRate | number:'1.5-5' }} </td>
            </tr>
        </tbody>
    </table>
</div>